body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0px auto;
}
.main {
    background: #ebebeb;
    text-align: center;
    margin-bottom: 10px;
    padding: 25px;
}
#header{
    margin-top: 10px;
}
.sub {
    color: #ebebeb;
    background: #777;
    width: 495px;
    text-align: center;
    margin-bottom: 10px;
}
h1 {
    color: #777;
    background: #ebebeb;
    text-align: center;
    margin-bottom: 10px;
  }
p {
    color: #777;
    background: #ebebeb;
    text-align: center;
    margin-bottom: 10px;
}
